<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="BurnInTest" value="C:\project\BurnInTest.lnk"/>
		<add key="Crystal" value="C:\project\DiskMark32.lnk"/>
	</appSettings>
</configuration>